{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% endfor %}

{% if task %}
  <h1>Task Added!</h1>
  <br/><br/><br/>
  <table class="table table-hover table-bordered table-striped">

    <tr>
      <th>ID</th>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Delete</th>
    </tr>

    {% for tasks in our_tasks %}
    
    <tr>
      <td>{{ tasks.id }}</td>
      <td><a href="{{ url_for('task_update', id=tasks.id) }}"><strong>{{ tasks.task }}</strong></a> </td>
      <td>{{ tasks.description }}</td>
      <td>{{ tasks.priority }}</td>
      <td>{{ tasks.due_date }}</td>
      <td><a href="{{ url_for('task_delete', id=tasks.id) }}"><strong>🗑️</strong></a> </td>
    </tr>

    {% endfor %}
  
  </table>
{% else %}
  <h1>Name your task</h1>
  <br/>
<div class="shadow p-3 mb-5 bg-white rounded">
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.task.label(class="form-label") }}
    {{ form.task(class="form-control") }}
    
    <br/>

    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}

    <br/>

    {{ form.due_date.label(class="form-label") }}
    {{ form.due_date(class="form-control") }}
    
    <br/>

    {{ form.priority.label(class="form-label") }}
    {{ form.priority(class="form-control") }}
    
    <br/>

    {{ form.submit(class="btn btn-secondary") }}

  </form>
</div>
<br/><br/><br/>
<table class="table table-hover table-bordered table-striped">

  <tr>
    <th>ID</th>
    <th>Task Name</th>
    <th>Task Description</th>
    <th>Priority</th>
    <th>Due Date</th>
    <th>Delete</th>
  </tr>

  {% for tasks in our_tasks %}
  
  <tr>
    <td>{{ tasks.id }}</td>
    <td><a href="{{ url_for('task_update', id=tasks.id) }}"><strong>{{ tasks.task }}</strong></a> </td>
    <td>{{ tasks.description }}</td>
    <td>{{ tasks.priority }}</td>
    <td>{{ tasks.due_date }}</td>
    <td><a href="{{ url_for('task_delete', id=tasks.id) }}"><strong>🗑️</strong></a> </td>
  </tr>

  {% endfor %}

</table>

{% endif %}

{% endblock %}